# Build/output
.next
out
dist

# Dependências
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema/IDE
.DS_Store
Thumbs.db
.vscode
.idea

# Ambiente
.env
.env.*
!.env.example
.next
node_modules
